<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Document</title>
    <style>
        * {
            color: white;
        }

        #left,
        #right {
            position: fixed;
            border: 2px solid white;
        }

        #right {
            right: 0;
            width: 20%;
            padding: 1%;
            margin-top: 10%;
            text-align: center;
        }

        #left {
            width: 15%;
            height: 95%;
        }

        #center {
            width: 60%;
            position: absolute;
            left: 17%;
        }

        a {
            text-decoration: none;
            display: flex;
        }

        #right .chats {
            margin-left: 10%;
            margin-top: 5%;
        }

        #right .chat {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        img {
            border-radius: 50%;
        }

        .details {
            margin-top: -5%;
            margin-left: 10%;
        }

        #center .post {
            border: 2px solid white;
            width: 60%;
            margin-left: 25%;
            margin-top: 5%;
            height: auto;
            margin-bottom: 2%;
            position: relative;
        }

        #center .post .image {
            height: 50%;
        }

        #left .user-details {
            display: flex;
        }

        #center .post .like,
        .dislike {
            background: transparent;
            border: none;
            cursor: pointer;
            width: auto;
        }

        button {
            padding: 0.5% 1%;
            font-size: 1.5em;
            background: none;
            border: none;
            cursor: pointer;
            z-index: 99;
        }

        video {
            z-index: -1;
        }

        .prev,
        .next {
            position: absolute;
            top: 40%;
            color: white;
            background-color: black;
            border-radius: 50%;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }

        .slide-index {
            margin-top: 1%;
            display: flex;
            justify-content: center;
            gap: 1%;
        }

        .circle {
            border-radius: 50%;
            height: 20px;
            width: 20px;
        }

        .index-not-active {
            background-color: grey;
        }

        .index-active {
            background-color: white;
        }
    </style>
</head>

<body bgcolor="black">

    <div id="left">
        <div class="user-details">
            <div class="pfp">

                <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg"
                    alt="" width="56" height="56">

            </div>
            <div class="name">
                <h2 id="user"> Sai Teja </h2>
            </div>
        </div>

        <div class="links">
            <a href="">
                <h3>Home</h3>
            </a>
            <a href="">
                <h3>Chat</h3>
            </a>
        </div>

    </div>

    <div id="center">

        <div class="post">
            <div class="posted_by" style="text-align: left; display: flex; padding: 1%;">
                <div class="img">

                    <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg"
                        width="70" height="70" alt="image not found">

                </div>
                <div class="name">
                    <h1>saiteja</h1>
                </div>
            </div>
            <div class="image" id="5" ondblclick="likeMessage(`5`)">


                <img src="/media/posts/Picture1.jpg" height="300px" width="100%" style="border-radius: 0;">


            </div>
            <div class="options" style="text-align: left; font-size: 3em; display: flex;">
                <div id="like-5" style="margin-top: -3.5%;">
                    <button class="like" onclick="likeMessage(`5`)">
                        <svg aria-label="Like" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                            fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                            <title>Like</title>
                            <path
                                d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                            </path>
                        </svg>
                    </button>
                </div>

                <a href="/post/display/5" style="margin-top: 3.5%; margin-left: 1%;" target="_blank">
                    <svg aria-label="Comment" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                        fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                        <title>Comment</title>
                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor"
                            stroke-linejoin="round" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="likes" style="margin-left: 2%;">
                <span id="likes-5">0</span> likes
            </div>
            <div class="caption" style="margin-left: 2%;">
                <p>
                    hello
                </p>
            </div>
        </div>







        <div class="post">
            <div class="posted_by" style="text-align: left; display: flex; padding: 1%;">
                <div class="img">

                    <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg"
                        width="70" height="70" alt="image not found">

                </div>
                <div class="name">
                    <h1>saiteja</h1>
                </div>
            </div>
            <div class="image" id="3" ondblclick="likeMessage(`3`)">


                <img src="/media/posts/bestvalogame.jpg" height="300px" width="100%"
                    style="border-radius: 0; display: none;" class="slide-3">



                <img src="/media/posts/krish.png" height="300px" width="100%" style="border-radius: 0; display: none;"
                    class="slide-3">



                <img src="/media/posts/phet_challenge_1.jpg" height="300px" width="100%"
                    style="border-radius: 0; display: none;" class="slide-3">



                <img src="/media/posts/phet_challenge_3.jpg" height="300px" width="100%"
                    style="border-radius: 0; display: none;" class="slide-3">



                <img src="/media/posts/secondbestvalogame.jpg" height="300px" width="100%"
                    style="border-radius: 0; display: none;" class="slide-3">



                <img src="/media/posts/secondbestvalogame1.jpg" height="300px" width="100%"
                    style="border-radius: 0; display: none;" class="slide-3">


                <button type="button" onclick="sliderPrevious(`3`)" class="prev">❮</button>
                <button type="button" onclick="sliderNext(`3`)" class="next">❯</button>
            </div>
            <div class="slide-index">

                <div class="circle slide-index-3 index-not-active"></div>

                <div class="circle slide-index-3 index-not-active"></div>

                <div class="circle slide-index-3 index-not-active"></div>

                <div class="circle slide-index-3 index-not-active"></div>

                <div class="circle slide-index-3 index-not-active"></div>

                <div class="circle slide-index-3 index-not-active"></div>

            </div>
            <script>
                var blah = document.querySelectorAll(".slide-3");
                blah[0].style.display = "block";
                blah[0].classList.add("active");
                var indexes = document.querySelectorAll(".slide-index-3");
                indexes[0].classList.replace("index-not-active", "index-active");
            </script>
            <div class="options" style="text-align: left; font-size: 3em; display: flex;">
                <div id="like-3" style="margin-top: -3.5%;">
                    <button class="like" onclick="likeMessage(`3`)">
                        <svg aria-label="Like" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                            fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                            <title>Like</title>
                            <path
                                d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                            </path>
                        </svg>
                    </button>
                </div>

                <a href="/post/display/3" style="margin-top: 3.5%; margin-left: 1%;" target="_blank">
                    <svg aria-label="Comment" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                        fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                        <title>Comment</title>
                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor"
                            stroke-linejoin="round" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="likes" style="margin-left: 2%;">
                <span id="likes-3">0</span> likes
            </div>
            <div class="caption" style="margin-left: 2%;">
                <p>
                    helloworld(&quot;print&quot;)
                </p>
            </div>

        </div>







        <div class="post">
            <div class="posted_by" style="text-align: left; display: flex; padding: 1%;">
                <div class="img">

                    <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg"
                        width="70" height="70" alt="image not found">

                </div>
                <div class="name">
                    <h1>saiteja</h1>
                </div>
            </div>
            <div class="image" id="2" ondblclick="likeMessage(`2`)">


                <img src="/media/posts/jm-aCn.gif" height="300px" width="100%" style="border-radius: 0; display: none;"
                    class="slide-2">



                <img src="/media/posts/1.png" height="300px" width="100%" style="border-radius: 0; display: none;"
                    class="slide-2">


                <button type="button" onclick="sliderPrevious(`2`)" class="prev">❮</button>
                <button type="button" onclick="sliderNext(`2`)" class="next">❯</button>
            </div>
            <div class="slide-index">

                <div class="circle slide-index-2 index-not-active"></div>

                <div class="circle slide-index-2 index-not-active"></div>

            </div>
            <script>
                var blah = document.querySelectorAll(".slide-2");
                blah[0].style.display = "block";
                blah[0].classList.add("active");
                var indexes = document.querySelectorAll(".slide-index-2");
                indexes[0].classList.replace("index-not-active", "index-active");
            </script>
            <div class="options" style="text-align: left; font-size: 3em; display: flex;">
                <div id="like-2" style="margin-top: -3.5%;">
                    <button class="like" onclick="likeMessage(`2`)">
                        <svg aria-label="Like" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                            fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                            <title>Like</title>
                            <path
                                d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                            </path>
                        </svg>
                    </button>
                </div>

                <a href="/post/display/2" style="margin-top: 3.5%; margin-left: 1%;" target="_blank">
                    <svg aria-label="Comment" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                        fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                        <title>Comment</title>
                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor"
                            stroke-linejoin="round" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="likes" style="margin-left: 2%;">
                <span id="likes-2">0</span> likes
            </div>
            <div class="caption" style="margin-left: 2%;">
                <p>
                    hello world
                </p>
            </div>

        </div>







        <div class="post">
            <div class="posted_by" style="text-align: left; display: flex; padding: 1%;">
                <div class="img">

                    <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg"
                        width="70" height="70" alt="image not found">

                </div>
                <div class="name">
                    <h1>saiteja</h1>
                </div>
            </div>
            <div class="image" id="1" ondblclick="likeMessage(`1`)">


                <video autoplay loop height="300px" width="100%" muted controls class="slide-1" style="display: none;">
                    <source src="/media/posts/WhatsApp_Video_2024-01-21_at_19.19.09_d9fff7ba.mp4">
                </video>



                <video autoplay loop height="300px" width="100%" muted controls class="slide-1" style="display: none;">
                    <source src="/media/posts/bintu.mp4">
                </video>


                <button type="button" onclick="sliderPrevious(`1`)" class="prev">❮</button>
                <button type="button" onclick="sliderNext(`1`)" class="next">❯</button>
            </div>
            <div class="slide-index">

                <div class="circle slide-index-1 index-not-active"></div>

                <div class="circle slide-index-1 index-not-active"></div>

            </div>
            <script>
                var blah = document.querySelectorAll(".slide-1");
                blah[0].style.display = "block";
                blah[0].classList.add("active");
                var indexes = document.querySelectorAll(".slide-index-1");
                indexes[0].classList.replace("index-not-active", "index-active");
            </script>
            <div class="options" style="text-align: left; font-size: 3em; display: flex;">
                <div id="like-1" style="margin-top: -3.5%;">
                    <button class="like" onclick="likeMessage(`1`)">
                        <svg aria-label="Like" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                            fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                            <title>Like</title>
                            <path
                                d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                            </path>
                        </svg>
                    </button>
                </div>

                <a href="/post/display/1" style="margin-top: 3.5%; margin-left: 1%;" target="_blank">
                    <svg aria-label="Comment" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)"
                        fill="rgb(245, 245, 245)" height="24" role="img" viewBox="0 0 24 24" width="30">
                        <title>Comment</title>
                        <path d="M20.656 17.008a9.993 9.993 0 1 0-3.59 3.615L22 22Z" fill="none" stroke="currentColor"
                            stroke-linejoin="round" stroke-width="2"></path>
                    </svg>
                </a>
            </div>
            <div class="likes" style="margin-left: 2%;">
                <span id="likes-1">0</span> likes
            </div>
            <div class="caption" style="margin-left: 2%;">
                <p>
                    blah
                </p>
            </div>

        </div>












        <script>
            function action(id, action) {
                $.ajax({
                    url: "/request/action/",
                    type: "GET",
                    contentType: "text/javascript",
                    data: {
                        "id": id, "action": action
                    },
                    success: (res) => {
                        document.getElementById(id).remove();
                    }
                })
            }
        </script>

    </div>

    <div id="right">
        <h1 style="text-align: center;text-decoration: underline;">Recent DMs</h1>

        <div class="chats">
            <div class="chat">
                <div>
                    <img src="https://t4.ftcdn.net/jpg/05/89/93/27/360_F_589932782_vQAEAZhHnq1QCGu5ikwrYaQD0Mmurm0N.jpg" alt="" width="80" height="80">
                </div>
                <div style="display: flexbox;margin-left: 5%;">
                    <div class="username">
                        <h1>Sai Teja</h1>
                    </div>
                    <div class="message">
                        <p>Sai Teja: Hello! How are you?</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        function sliderNext(id) {
            let slides = document.querySelectorAll(`.slide-${id}`);
            let indexes = document.querySelectorAll(`.slide-index-${id}`);
            let index, indexing;
            for (let i = 0; i < slides.length; i++) {
                if (slides[i].classList.contains("active")) {
                    slides[i].classList.remove("active");
                    index = i;
                    indexes[i].classList.replace("index-active", "index-not-active");
                    indexing = i;
                    break;
                }
            }

            index++;

            if (index > slides.length - 1) {
                index = 0;
            }

            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[index].style.display = "block";
            slides[index].classList.add("active");
            indexes[index].classList.replace("index-not-active", "index-active")

        }


        function sliderPrevious(id) {
            let slides = document.querySelectorAll(`.slide-${id}`);
            let indexes = document.querySelectorAll(`.slide-index-${id}`);
            let index, indexing;
            for (let i = 0; i < slides.length; i++) {
                if (slides[i].classList.contains("active")) {
                    slides[i].classList.remove("active");
                    index = i;
                    indexes[i].classList.replace("index-active", "index-not-active");
                    indexing = i;
                    break;
                }
            }

            index--;

            if (index < 0) {
                index = slides.length - 1;
            }

            for (let i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }

            slides[index].style.display = "block";
            slides[index].classList.add("active");
            indexes[index].classList.replace("index-not-active", "index-active")
        }

        function likeMessage(id) {
            var postId = Number(id);
            $.ajax({
                url: "/post/like/",
                type: "GET",
                contentType: "text/javascript",
                data: {
                    'postid': postId
                },
                success: function (response) {
                    document.getElementById(`likes-${postId}`).innerHTML++;
                },
                error: function () { console.log() }
            });
            document.getElementById(`like-${id}`).innerHTML = `
            <button class="dislike" onclick="dislikeMessage(${postId})">
    <svg aria-label="Unlike" class="x1lliihq x1n2onr6" color="rgb(255, 48, 64)" fill="rgb(255, 48, 64)" height="24"
        role="img" viewBox="0 0 48 48" width="30">
        <title>Unlike</title>
        <path
            d="M34.6 3.1c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5s1.1-.2 1.6-.5c1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z">
        </path>
    </svg>
</button>
            `
            document.getElementById(id).removeAttribute("ondblclick");
        }

        function dislikeMessage(id) {
            var postId = Number(id);
            $.ajax({
                url: "/post/dislike/",
                type: "GET",
                contentType: "text/javascript",
                data: {
                    'postid': postId
                },
                success: function (response) {
                    document.getElementById(`likes-${postId}`).innerHTML--;
                },
                error: function () { alert("error"); }
            });
            document.getElementById(`like-${id}`).innerHTML = `
                        <button class="like" onclick="likeMessage(${postId})">
                            <svg aria-label="Like" class="x1lliihq x1n2onr6" color="rgb(245, 245, 245)" fill="rgb(245, 245, 245)"
                            height="24" role="img" viewBox="0 0 24 24" width="30">
                                <title>Like</title>
                                <path
                                    d="M16.792 3.904A4.989 4.989 0 0 1 21.5 9.122c0 3.072-2.652 4.959-5.197 7.222-2.512 2.243-3.865 3.469-4.303 3.752-.477-.309-2.143-1.823-4.303-3.752C5.141 14.072 2.5 12.167 2.5 9.122a4.989 4.989 0 0 1 4.708-5.218 4.21 4.21 0 0 1 3.675 1.941c.84 1.175.98 1.763 1.12 1.763s.278-.588 1.11-1.766a4.17 4.17 0 0 1 3.679-1.938m0-2a6.04 6.04 0 0 0-4.797 2.127 6.052 6.052 0 0 0-4.787-2.127A6.985 6.985 0 0 0 .5 9.122c0 3.61 2.55 5.827 5.015 7.97.283.246.569.494.853.747l1.027.918a44.998 44.998 0 0 0 3.518 3.018 2 2 0 0 0 2.174 0 45.263 45.263 0 0 0 3.626-3.115l.922-.824c.293-.26.59-.519.885-.774 2.334-2.025 4.98-4.32 4.98-7.94a6.985 6.985 0 0 0-6.708-7.218Z">
                                </path>
                            </svg>
                        </button>
                        `

            document.getElementById(id).setAttribute("ondblclick", `likeMessage(${id})`)
        }

    </script>

</body>

</html>